@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
    background-color: rgba(96, 110, 187, 0.575);

}

header{
    background-color: rgb(102, 102, 226);
    padding: 1%;
    border-radius: 5px;
}
.nav{
    /* background-color: grey; */
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
    /* margin: 5px; */
    /* padding: 1%; */
    /* border-radius: 15%; */
    font-family: 'Fjalla One', sans-serif;
}

textarea {
    max-width: 500px;
    max-height: 500px;
    /* background-color: rgb(192, 192, 219); */
}

.form {
    display: flex;
    flex-direction: column;
     
}

/* li {
    display: inline;
} */